<p style="color: green"><%= notice %></p>

<main class="px-3">
  <h1 class="py-3"><%= @survey.name %></h1>

  <h2 class="text-start">Proposals:</h2>
  <% @proposals.each do |proposal| %>
    <h3 class="text-start"><%= proposal.name %></h3>
  <% end %>
</main>