<div class="nested-fields">
  <div class="input-group mb-3">
    <%= f.input_field :name, label: "Name of your proposal", class: "form-control" %>
    <%= link_to_remove_association "Delete", f, class: "btn btn-outline-danger" %>
  </div>
</div>
