<div class="proposal-nested-fields">
  <div class="input-group mb-3">
    <%= f.input_field :name, placeholder: "Name of your proposal", class: "form-control" %>
    <%= link_to_remove_association "Delete", f, wrapper_class: "proposal-nested-fields", class: "btn btn-danger" %>
  </div>
</div>
