<div class="voter-nested-fields">
  <div class="input-group mb-3">
    <%= f.input_field :email, placeholder: "Email of your voter", class: "form-control" %>
    <%= link_to_remove_association "Delete", f, wrapper_class: "voter-nested-fields", class: "btn btn-danger" %>
  </div>
</div>
