<main class="px-3">
  <h1>New survey</h1>

  <%= form_with model: @survey, html: { class: "row row-cols-lg-auto g-3 align-items-center" } do |form| %>
    <div class="col-lg-10">
      <div class="input-group">
        <%= form.text_field :name, placeholder: "Write your survey name here", class: "form-control" %>
      </div>
    </div>

    <div class="col-lg-2">
      <%= form.submit "Create survey", class: "btn btn-primary" %>
    </div>
  <% end %>
</main>